.modal-form {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-form form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  position: relative;
}

.modal-form svg {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 35px;
  height: 35px;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.modal-form svg:hover {
  color: red;
}

.modal-form form h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px;
}

.modal-form form diV {
  text-align: left;
  margin-bottom: 12px;
}

.modal-form form div:last-of-type {
  text-align: left;
  margin-bottom: 0px;
}

.modal-form form div input {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
}

.modal-form form div button {
  display: block;
  border: 1px solid rgba(54, 45, 45, 0.1);
  outline: none;
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  margin-top: 5px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #432616;
  color: white;
}
