.side-nav {
  width: 150px;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0px;
  padding-top: 25px;
}

.side-nav img {
  margin-bottom: 7px;
}

.side-nav a {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid transparent;
  transition: 0.5s ease-in-out;
}

.side-nav a:hover {
  border-color: royalblue;
  color: royalblue;
  background-color: rgba(0, 0, 255, 0.1);
}

.side-nav a:hover svg {
  color: royalblue;
}

.side-nav a:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.side-nav a svg {
  font-size: 20px;
}

.side-nav a span {
  margin-left: 10px;
}

.side-nav .logout {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid transparent;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.side-nav .logout:hover {
  border-color: royalblue;
  color: royalblue;
  background-color: rgba(0, 0, 255, 0.1);
}

.side-nav .logout:hover svg {
  color: royalblue;
}

.side-nav .logout:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.side-nav .logout svg {
  font-size: 20px;
}

.side-nav .logout span {
  margin-left: 10px;
}
