<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; box-sizing: border-box;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Change password</title>
</head>

<body style="margin: 0; padding: 0; box-sizing: border-box; padding-inline: 10px; font-family: 'Manrope', sans-serif;">

    <!-- Horizontal spacing -->
    <section class="hero" style="margin: 0; padding: 0; box-sizing: border-box; width: 100%; border: 10px solid white;">
    </section>

    <!-- Title -->
    <h1 id="content-title" style="margin: 0; padding: 0; box-sizing: border-box; font-size: 1rem;"><strong
			   style="margin: 0; padding: 0; box-sizing: border-box; text-align: left;">Hello {{ user }}.</strong></h1>

    <div style="margin: 0; padding: 0; box-sizing: border-box; padding-inline: 10px;">

        <!-- Body -->
        <section id="content-body"
            style="margin: 0; padding: 0; box-sizing: border-box; margin-top: 10px; font-size: 0.9rem;">
            <p style="margin: 0; padding: 0; box-sizing: border-box;">
	    We just received a password reset for your acount. No need to worry, you can simply reset your password by clicking on the <strong>Reset password</strong> button below:
            </p>

            <!-- Horizontal spacing -->
            <section class="hero"
                style="margin: 0; padding: 0; box-sizing: border-box; width: 100%; border: 10px solid white;">
            </section>

            <!-- Verification button -->
            <table style="width: 100%; border:10px solid #FFFFFF">
                <tbody>
                    <td align="center">
                        <!-- Append user token here -->
                        <a style="color: white; background-color: #f3ca72; padding: 12px 25px; text-decoration: none; border-radius: 5px;"
			   href="{{ url }}/reset?token={{ email_token }}">Reset password</a>
                    </td>
                </tbody>
            </table>


            <!-- Horizontal spacing -->
            <section class="hero"
                style="margin: 0; padding: 0; box-sizing: border-box; width: 100%; border: 10px solid white;">
            </section>

            <p style="margin: 0; padding: 0; box-sizing: border-box;">
                If the button is not clickable, feel free to copy and paste this url in your browser
                <strong style="margin: 0; padding: 0; box-sizing: border-box;"><a
			href="{{ url }}/reset?token=%usertoken%"
			style="margin: 0; padding: 0; box-sizing: border-box; color: blue;">{{ url }}/reset?token={{ email_token }}</a></strong>.
            </p>
        </section>

        <!-- FAQ -->
        <section id="faq"
            style="margin: 0; padding: 0; box-sizing: border-box; margin-top: 30px; background-color: #f6f6f7; border: 20px solid #F6F8FA; text-align: center; font-size: 0.9rem; border-radius: 8px;  font-size: 14px;">
            <p style="margin: 0; padding: 0; box-sizing: border-box;">
                If you didn't request for this password reset, please disregard this email.</p>
        </section>
    </div>

    <!-- Footer -->
    <footer
        style="box-sizing: border-box; margin: 20px auto; border-top: 1px solid grey; width: 80%; max-width: 800px; padding: 20px;">

        <p class="text-center text-sm"
            style="margin: 0; padding: 0; box-sizing: border-box; text-align: center; font-size: 0.8rem;">© 2023 - <a
                href="https://visionary-platypus-2646e2.netlify.app/login"
                style="margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; color: inherit;">Japaconsults</a>
            - All rights reserved</p>
    </footer>
</body>

</html>
