<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; box-sizing: border-box;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap" rel="stylesheet">
    <title>New user verification</title>
</head>

<body style="margin: 0; padding: 0; box-sizing: border-box; padding-inline: 10px; font-family: 'Manrope', sans-serif;">

    <!-- Horizontal spacing -->
    <section class="hero" style="margin: 0; padding: 0; box-sizing: border-box; width: 100%; border: 10px solid white;">
    </section>

    <!-- Title -->
    <h1 id="content-title" style="margin: 0; padding: 0; box-sizing: border-box; font-size: 1rem;"><strong
			   style="margin: 0; padding: 0; box-sizing: border-box; text-align: left;">Hello {{ user }},</strong></h1>

    <div style="margin: 0; padding: 0; box-sizing: border-box; padding-inline: 10px;">

        <!-- Body -->
        <section id="content-body"
            style="margin: 0; padding: 0; box-sizing: border-box; margin-top: 10px; font-size: 0.9rem;">
            <p style="margin: 0; padding: 0; box-sizing: border-box;">
                Thank you for signing up with
                <strong style="margin: 0; padding: 0; box-sizing: border-box;">
                    <a href="https://japaconsults.com"
                        style="margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; color: inherit;">Japaconsults</a>
                </strong>.
                To ensure the security of your account, we kindly request that you verify your email address.
                Thank you for choosing us.
            </p>

            <!-- Horizontal spacing -->
            <section class="hero"
                style="margin: 0; padding: 0; box-sizing: border-box; width: 100%; border: 10px solid white;">
            </section>

            <!-- Verification button -->
            <table style="width: 100%; border:10px solid #FFFFFF">
                <tbody>
                    <td align="center">
                        <!-- Append user token here -->
                        <a style="color: white; background-color: #f3ca72; padding: 12px 25px; text-decoration: none; border-radius: 5px;"
			   href="{{ url }}/auth/verifyEmail?token={{ email_token }}">Verify Email</a>
                    </td>
                </tbody>
            </table>


            <!-- Horizontal spacing -->
            <section class="hero"
                style="margin: 0; padding: 0; box-sizing: border-box; width: 100%; border: 10px solid white;">
            </section>

            <p style="margin: 0; padding: 0; box-sizing: border-box;">
                If the button is not clickable, feel free to copy and paste this url in your browser or you click the link
                <strong style="margin: 0; padding: 0; box-sizing: border-box;"><a
			href="{{ url }}/auth/verifyEmail?token={{ email_token }}"
			style="margin: 0; padding: 0; box-sizing: border-box; color: blue;">{{ url }}/auth/verifyEmail?token={{ email_token }}</a></strong>.
            </p>
        </section>

        <!-- FAQ -->
        <section id="faq"
            style="margin: 0; padding: 0; box-sizing: border-box; margin-top: 30px; background-color: #f6f6f7; border: 20px solid #F6F8FA; text-align: center; font-size: 0.9rem; border-radius: 8px;  font-size: 14px;">
            <p style="margin: 0; padding: 0; box-sizing: border-box;">
                If you haven't requested this verification or have any concerns, please disregard this email. However, if you believe someone else may have attempted to compromise your account, please contact our support team immediately at </p>
            <a href="mailto:devs@japaconsults.com" class="support brandColor"
                style="margin: 0; padding: 0; box-sizing: border-box; color: #1CBF74; display: block; border: 10px solid #F6F8FA; text-decoration: none;">support@japaconsults.com</a>
            <p style="margin: 0; padding: 0; box-sizing: border-box;"> Thank you for choosing us,
                <strong style="margin: 0; padding: 0; box-sizing: border-box;"><a
                        href="https://visionary-platypus-2646e2.netlify.app/login"
                        style="margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; color: inherit;">Japaconsults</a></strong>.
            </p>
        </section>
    </div>

    <!-- Footer -->
    <footer
        style="box-sizing: border-box; margin: 20px auto; border-top: 1px solid grey; width: 80%; max-width: 800px; padding: 20px;">

        <p class="text-center text-sm"
            style="margin: 0; padding: 0; box-sizing: border-box; text-align: center; font-size: 0.8rem;">© 2023 - <a
                href="https://visionary-platypus-2646e2.netlify.app/login"
                style="margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; color: inherit;">Japaconsults</a>
            - All rights reserved</p>
    </footer>
</body>

</html>
