.main-component {
  padding-left: 150px;
}

/* For Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  border-radius: 10px; /* Adjust the radius as needed */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Adjust the radius to match the track */
}
